{% include header.html %}

<article class="pt2 pb4 bt b--light-gray">

    {% if page.title %}

    <h1 class="ma0 f4">{{ page.title }}</h1>

    {% endif %}

    {% if page.image %}

    <p><img src="/images/{{ page.image }}" alt="{% if page.alt %}{{ page.alt }}{% endif %}"></p>

    {% endif %}

    {% if page.content.size > 1 %}

    <div class="measure c-prose">

        {{ content }}

    </div>

    {% endif %}

    <p class="f6"><time datetime="{{ page.date | date: "%b %-d, %Y" }}">{{ page.date | date_to_string }}</time></time></p>

</article>

{% include footer.html %}
